# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.vagrant
ubuntu**
devops-test-2021.pem
kubeconfig
